@media (max-width: 768px) {
}

body {
    background-color: grey;
    display: block;
}

#theurl {
    background-color: beige;
    border: 2px brown solid;
    text-align: center;
}
#shorten {
    background-color: red;
    border: 2px black solid;
    color: black;
    text-align: center;
}

#header.container {
    background-color: beige;
    border: 5px brown solid;
    text-align: center;
    margin: 100px;
    padding: 5px;
}
