@media (max-width: 768px) {
}

body {
    background-color: rgb(135, 58, 134);
    font-weight:bold;
    text-align: center;
    display: block;
    margin: 100px;
    padding: 40px;

}

#theurl {
    background-color: beige;
    border: 20px brown solid;
    text-align: center;
}
#shorten {
    background-color: green;
    border: 20px black solid;
    color: black;
    text-align: center;
}